<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>員工資料維護</title>
	<th:block th:include="./include/header :: header"></th:block>
</head>
<body>
	<th:block th:include="./include/navbar :: navbar"></th:block>
	
	<div class="container my-2">
		<h2>新增員工資料</h2>
		<form th:action="@{/employee/create}" th:object="${employee}" method="post" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">部門名稱:</label>
				<div class="col-sm-5">
					<select class="form-control select2" th:field="*{department.id}" th:onchange="window.location.href='./?department_id='+this.value">
						<option th:each="d:${departments}" th:value="${d.id}" th:text="${d.name}">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">員工姓名:</label>
				<div class="col-sm-5">
					<input class="form-control" type="text" th:field="*{name}" placeholder="請輸入員工姓名">
				</div>
			</div>
			<p/>
			<div class="form-group">
				<label for="job_title" class="col-sm-2 control-label">職稱:</label>
				<div class="col-sm-5">
					<input class="form-control" type="text" th:field="*{job_title}" placeholder="請輸入職稱">
				</div>
			</div>
			<p/>
			<p/>
			<div class="form-group">
				<div th:if="${#fields.hasErrors('*')}" class="col-sm-offset-2 col-sm-5 alert alert-danger">
					<p th:each="err:${#fields.errors('*')}" th:text="${err}">
				</div>
			</div>
			<p/>
			<button type="submit" class="col-sm-offset-2 btn btn-primary">新增員工</button>
			<a th:href="@{/employee/}" class="btn btn-primary">全部員工</a>
		</form>
		<p/>
		<h2>員工列表</h2>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<td>序號</td>
					<td>部門名稱</td>
					<td>部門主管</td>
					<td>員工</td>
					<td>職稱</td>
					<td>編輯</td>
					<td>刪除</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e:${employees}">
					<td th:text="${e.id}"></td>
					<td th:text="${e.department.name}"></td>
					<td th:text="${e.department.manager}"></td>
					<td th:text="${e.name}"></td>
					<td th:text="${e.job_title}"></td>
					<td>
						<a th:href="@{/employee/edit/{id}(id=${e.id})}" class="btn btn-warning">編輯</a>
					</td>
					<td>
						<a th:href="@{/employee/delete/{id}(id=${e.id})}" class="btn btn-danger">刪除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<th:block th:include="./include/footer :: footer"></th:block>
</body>
</html>