<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>採購單明細資料維護</title>
	<th:block th:include="./include/header :: header"></th:block>
</head>
<body>
	<th:block th:include="./include/navbar :: navbar"></th:block>
	
	<div class="container my-2">
		<h2>採購單資料</h2>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>採購單序號</th>
					<th>進貨日期</th>
					<th>供應商名稱</th>
					<th>經手員工</th>
					<th>項目筆數</th>
					<th>總價</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${ purchase.id }"></td>
					<td th:text="${ purchase.date }"></td>
					<td th:text="${ purchase.supplier.name }"></td>
					<td th:text="${ purchase.employee.name }"></td>
					<td th:text="${ #lists.size(purchase.purchaseItems) }"></td>
					<td th:text="${ purchase.total }"></td>
				</tr>
			</tbody>
		</table>
		<p/>
		<h2>採購單明細資料</h2>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>序號</th>
					<th>項目序號</th>
					<th>商品序號</th>
					<th>商品名稱</th>
					<th>商品成本價</th>
					<th>數量</th>
					<th>小計</th>
					<th>編輯</th>
					<th>刪除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, itemstat:${purchase.purchaseItems}">
					<td th:text="${ itemstat.index }">0</td>
					<td th:text="${ item.id }">0</td>
					<td th:text="${ item.product.id }">0</td>
					<td th:text="${ item.product.name }">0</td>
					<td th:text="${ item.product.cost }">0</td>
					<td th:text="${ item.amount }">0</td>
					<td th:text="${ item.amount * item.product.cost }">0</td>
					<th>
						<a th:href="@{/purchase/{pid}/item/edit/{iid}(pid=${purchase.id},iid=${item.id})}" class="btn btn-warning">編輯</a>
					</th>
					<th>
						<a th:href="@{/purchase/{pid}/item/delete/{iid}(pid=${purchase.id},iid=${item.id})}" class="btn btn-danger">刪除</a>
					</th>
				</tr>
			</tbody>
		</table>
		<p/>
		<form th:action="@{/purchase/{pid}/item/create(pid=${purchase.id})}" th:object="${purchaseItem}" method="post" class="form-horizontal">
			<div class="form-group" th:if="*{id}!=null">
				<label for="purchaseItem.id" class="col-sm-2 control-label">項目序號：</label>
				<div class="col-sm-5">
					<input type="text" th:field="*{id}" readonly="readonly" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="product.id" class="col-sm-2 control-label">商品:</label>
				<div class="col-sm-5">
					<select class="form-control select2" th:field="*{product.id}" id="product.id">
						<option th:each="product:${products}" th:value="${product.id}" th:text="${product.name}" th:selected="(${product.id} eq (*{product.id}?:0))">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="purchaseItem.amount" class="col-sm-2 control-label">數量：</label>
				<div class="col-sm-5">
					<input type="text" th:field="*{amount}" class="form-control" placeholder="請輸入數量">
				</div>
			</div>
			<p/>
			<div class="form-group">
				<div th:if="${#fields.hasErrors('*')}" class="col-sm-offset-2 col-sm-5 alert alert-danger">
					<p th:each="err:${#fields.errors('*')}" th:text="${err}">
				</div>
			</div>
			<p/>
			<input type="submit" class="col-sm-offset-2 btn btn-primary" th:value="(*{id}==null? '新增採購單項目':'修改採購單項目')">
		</form>
	</div>
	
	<th:block th:include="./include/footer :: footer"></th:block>
</body>
</html>