<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>供應商資料修改</title>
	<th:block th:include="./include/header :: header"></th:block>
</head>
<body>
	<th:block th:include="./include/navbar :: navbar"></th:block>
	
	<div class="container my-2">
		<h2>修改供應商</h2>
		<form th:action="@{/supplier/update/{id}(id=${supplier.id})}" th:object="${supplier}" method="post" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">供應商名稱：</label>
				<div class="col-sm-5">
					<input type="text" th:field="*{name}" placeholder="請輸入供應商名稱" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="phone_number" class="col-sm-2 control-label">公司電話：</label>
				<div class="col-sm-5">
					<input type="text" th:field="*{phone_number}" placeholder="請輸入公司電話" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-sm-2 control-label">公司地址：</label>
				<div class="col-sm-5">
					<input type="text" th:field="*{address}" placeholder="請輸入公司地址" class="form-control">
				</div>
			</div>
			<p/>
			<div class="form-group">
				<div th:if="${#fields.hasErrors('*')}" class="col-sm-offset-2 col-sm-5 alert alert-danger">
					<p th:each="err:${#fields.errors('*')}" th:text="${err}">
				</div>
			</div>
			<p/>
			<button type="submit" class="col-sm-offset-2 btn btn-primary">新增供應商</button>
		</form>
		
	</div>
	
	<th:block th:include="./include/footer :: footer"></th:block>
</body>
</html>